@charset "UTF-8";

@media screen and (min-width: 700px){
    section#principal > div.itens > img{
        margin-top: 25%;
        max-width: 50%;
        height: auto;
    }

    header > nav > div#menu{
        flex-flow: row nowrap;
        align-items: center;
    }

    header > nav > div#menu > ul{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    header > nav > div#menu > ul > li{
        margin-bottom: 0px;
        width: 100%;
    }
}