@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    ---fundo: #000000;
    ---fundo-invertido: #ffffff;
    ---text: #000000;
    ---texto-invertido: #ffffff;
    ---borda: #1a1a1a;
    ---borda-invertida: #cfcfcf;
}

body{
    font-family: 'Syne', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header > nav{
    position: absolute;
}

header > nav > div#menu{
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0, 0, 0, 0.300);
    width: 100%;
}

header > nav > div#menu > span.icon{
    display: flex;
    align-items: center;
    height: 80px;
}

header > nav > div#menu .icon-op{
    background-color: var(---fundo);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.300);
    transition: background-color .5s;
}


header > nav > div#menu > span.icon > i{
    margin-left: 30px;
    cursor: pointer;
}

header > nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
}

header > nav > div#menu > ul{
    display: none;
    list-style: none;
    margin-left: 10px;
    padding: 20px;
}

header > nav > div#menu > ul > li{
    margin-bottom: 20px;
    width: 100%;
}

header > nav > div#menu > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    font-size: 1.2em;
    color: var(---texto-invertido);
    cursor: pointer;
    transition: background-color .5s, color .5s;
}

header > nav > div#menu > ul > li > a.pagina-ativa{
    border-bottom: 2px solid var(---borda-invertida);
}

header > nav > div#menu > ul > li > a:hover{
    color: black;
    background-color: var(---texto-invertido);
}

/*Inicio da seção principal*/

section#principal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: var(---texto-invertido);
    font-weight: 400;
    background-image: url(../imagens/home-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section#principal > div.itens{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

section#principal > div.itens > img{
    margin-top: 25%;
    max-width: 70%;
    height: auto;
}

section#principal > div.itens > h1{
    font-family: "Cormorant Upright", serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1.8em;
    margin-top: 90px;
}

section#principal > div.itens > a{
    text-align: center;
    text-decoration: none;
    font-size: .8em;
    padding: 15px;
    border: 1px solid var(---borda-invertida);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    color: var(---texto-invertido);
    margin-top: 50px;
    cursor: pointer;
}

section#principal > div.itens > a:hover{
    background-color: var(---fundo-invertido);
    color: var(---text);
}

/*Fim da seção principal*/
/*Inicio da seção coleção*/

section#colecao{
    background-color: var(---fundo);
    color: var(---texto-invertido);
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section#colecao > h2{
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6em;
    text-align: center;
    margin: 50px;
}

section#colecao > div.colecao-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

section#colecao > div.colecao-container > img{
    max-width: 90%;
    height: auto;
    background-position: top;
    border-radius: 2px;

}

section#colecao > div.colecao-container > p{
    margin: 50px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 0.85;
    text-indent: 1em;
    text-align: justify;
    line-height: 1.8em;
    width: 90%;
}

section#colecao > div.carrossel{
    max-width: 450px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    border-radius: 2px;
}

section#colecao > div.carrossel > div.slides{
    display: flex;
    transition: transform .5s ease-in-out;
}

section#colecao > div.carrossel > div.slides > img{
    display: block;
    max-width: 100%;
    object-fit: contain;
}

section#colecao > div.carrossel > button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.400);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
    transition: background-color .5s, color .5s;
}

section#colecao > div.carrossel > button:hover{
    background-color: rgba(255, 255, 255, 0.400);
    color: black;
}

section#colecao > div.carrossel > button.esquerda{
    left: 10px;
}

section#colecao > div.carrossel > button.direita{
    right: 10px;
}

/*Fim da seção coleção*/
/*Inicio da seção manifesto*/

section#manifesto{
    display: grid;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 250px 1fr;
    justify-items: center;
    align-items: center;
    background-image: url(../imagens/manifesto-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: var(---texto-invertido);
    height: 100vh;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.300);

}

section#manifesto > img{
    grid-column: 2/-2;
    grid-row: 1;
    max-width: 100%;
    height: auto;
    background-size: contain;
    background-position: top;
}

section#manifesto > p{
    grid-column: 2/-2;
    grid-row: 2;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 0.85;
    text-indent: 1em;
    text-align: center;
}

/*Fim da seção manifesto*/
/*Inicio da seção shop*/

section#shop{
    padding: 10px;
    height: fit-content;
    background-color: var(---fundo);
    color: var(---texto-invertido);
}

section#shop > div#produtos{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
}

section#shop > div#produtos > div.itens{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 250px;
}

section#shop > div#produtos > div.itens > img{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.300);
    height: 300px;
    width: 100%;
    border-radius: 2px;
    transition: transform .5s;
}

section#shop > div#produtos > div.itens:hover {
    transform: translateY(-03%); 
}

section#shop > div#produtos > div.itens > p{
    margin-top: 10px;
    font-weight: bold;
}

section#shop > div#produtos > div.itens > span{
    margin-top: 5px;
}

/*Fim da seção shop*/

footer{
    display: grid;
    grid-template-columns: 50% 4px 50%;
    grid-template-rows: 150px;
    place-items: center center;
    background-color: var(---fundo);
    color: var(---texto-invertido);
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.300);
}

footer > img{
    grid-column: 1;
    width:100px;
}

footer > span{
    grid-column: 2;
    height: 110px;
    width: 1px;
    background-color: white;
}

footer > div#itens-contato{
    grid-column: 3;
}

footer > div#itens-contato > ul{
    list-style: none;
}

footer > div#itens-contato > ul > li > a{
    text-decoration: none;
    color: var(---texto-invertido);
    margin: 5px;
    line-height: 2.2em;
    padding: 5px;
    border-radius: 2px;
    transition: background-color .5s, color .5s;
}

footer > div#itens-contato > ul > li > a:hover{
    background-color: var(---fundo-invertido);
    color: var(---text);
}