@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    ---fundo: #000000;
    ---fundo-invertido: #ffffff;
    ---text: #000000;
    ---texto-invertido: #ffffff;
    ---borda: #1a1a1a;
    ---borda-invertida: #cfcfcf;
}

body{
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header > nav > div.menu-icons{
    display: none;
}

header > nav{
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.342);
}

header > nav > ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    margin: 0 150px;
}

header > nav > ul > li{

}

header > nav > ul > li > a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    color: var(---texto-invertido);
    cursor: pointer;
    transition: background-color .5s, color .5s;
}

header > nav > ul > li > a.pagina-ativa{
    border-bottom: 1px solid var(---borda-invertida);
}

header > nav > ul > li > a:hover{
    color: black;
    background-color: var(---texto-invertido);
}

section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: 1px solid var(---borda);
}

section#principal{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: var(---texto-invertido);
    font-family: "Cormorant Upright", serif;
    text-transform: uppercase;
    font-weight: 400;
    background-color: black;
    
}

section#principal{
    background-image: url(../imagens/Home-wout-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: cover;
    
}

section#principal > div.itens{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 1px solid white;
    width: 100vw;
    height: 100vh;
}

section#principal > div.itens > img{
    margin-top: 150px;
    max-width: 600px;
}

section#principal > div.itens > input{
    width: 100px;
    height: 50px;
    border: 1px solid var(---borda-invertida);
    background-color: rgba(0, 0, 0, 0);
    color: var(---texto-invertido);
    margin-top: 50px;
    cursor: pointer;
}

section#principal > div.itens > input:hover{
    background-color: var(---fundo-invertido);
    color: var(---text);
}