@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    width: 100%;
}

span.icon{
    justify-content: space-between;
    margin: 20px;
}

nav{
    display: none;
    padding: 50px;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: white;
    font-size: 1em;
    margin: 20px;
    padding: 3px;
    text-decoration: none;
}

nav ul li a:hover{
    border: 1px solid white;
}

a.currentPage{
    border-bottom: 1px solid white;
}

section{
    background-color: aqua;
    height: 100%;
    width: 100%;
}

section#principal > img{
    width: 100%;
}