@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    ---fundo: #000000;
    ---fundo-invertido: #ffffff;
    ---text: #000000;
    ---texto-invertido: #ffffff;
    ---borda: #1a1a1a;
    ---borda-invertida: #cfcfcf;
}

body{
    font-family: 'Syne', sans-serif;
}

section{
    height: 100vh;
    padding: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header > nav{
    position: absolute;
}

header > nav > div#menu{
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0, 0, 0, 0.300);
    width: 100%;
}

header > nav > div#menu > span.icon{
    display: flex;
    align-items: center;
    height: 80px;
}

header > nav > div#menu > span.icon-op{
    background-color: var(---fundo);
    transition: background-color .3s;
}


header > nav > div#menu > span.icon > i{
    margin-left: 30px;
    cursor: pointer;
}

header > nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
}

header > nav > div#menu > ul{
    list-style: none;
    margin-left: 10px;
    padding: 20px;
    display: none;
}

header > nav > div#menu > ul > li{
    margin-bottom: 20px;
    width: 100%;
}

header > nav > div#menu > ul > li > a{
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
    color: var(---texto-invertido);
    cursor: pointer;
    transition: background-color .5s, color .5s;
}

header > nav > div#menu > ul > li > a.pagina-ativa{
    border-bottom: 2px solid var(---borda-invertida);
}

header > nav > div#menu > ul > li > a:hover{
    color: black;
    background-color: var(---texto-invertido);
}

/*Inicio da seção principal*/

section#principal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: var(---texto-invertido);
    font-weight: 400;
    background-image: url(../imagens/home-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section#principal > div.itens{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

section#principal > div.itens > img{
    margin-top: 20%;
    max-width: 100%;
    height: auto;
}

section#principal > div.itens > h1{
    font-family: "Cormorant Upright", serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1.8em;
    margin-top: 90px;
}

section#principal > div.itens > input{
    width: 100px;
    height: 50px;
    border: 1px solid var(---borda-invertida);
    background-color: rgba(0, 0, 0, 0);
    color: var(---texto-invertido);
    margin-top: 50px;
    cursor: pointer;
}

section#principal > div.itens > input:hover{
    background-color: var(---fundo-invertido);
    color: var(---text);
}

/*Fim da seção principal*/
/*Inicio da seção coleção*/

section#colecao{
    background-color: var(---fundo);
    color: var(---texto-invertido);
    height: fit-content;
}

section#colecao > h2{
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6em;
    text-align: center;
    margin: 50px;
}

section#colecao > div.colecao-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

section#colecao > div.colecao-container > img{
    max-width: 90%;
    height: auto;
    background-position: top;
}

section#colecao > div.colecao-container > p{
    margin: 50px 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 0.85;
    text-indent: 1em;
    line-height: 1.8em;
}

section#colecao > div.image-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    gap: 5px;
}

section#colecao > div.image-container > img{
    width: 200px;
    height: 200px;
}


/*Fim da seção coleção*/
/*Inicio da seção manifesto*/

section#manifesto{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    background-image: url(../imagens/manifesto-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(---texto-invertido);
    height: 100vh;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.300);

}

section#manifesto > img{
    max-width: 100%;
    height: auto;
}

section#manifesto > p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 0.85;
    text-indent: 1em;
    text-align: center;
}

/*Fim da seção manifesto*/
/*Inicio da seção shop*/

section#shop{
    padding: 10px;
    height: fit-content;
}

section#shop > div#produtos{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

section#shop > div#produtos > div.itens{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 250px;
}

section#shop > div#produtos > div.itens > img{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.300);
    height: 300px;
    width: 100%;
}

section#shop > div#produtos > div.itens > p{
    margin-top: 10px;
    font-weight: bold;
}

section#shop > div#produtos > div.itens > span{
    margin-top: 5px;
}

/*Fim da seção shop*/

footer{
    display: grid;
    grid-template-columns: 50% 4px 50%;
    grid-template-rows: 150px;
    place-items: center center;
    background-color: var(---fundo);
    color: var(---texto-invertido);
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.300);
    margin-top: 50px;
}

footer > img{
    grid-column: 1;
    width:100px;
}

footer > span{
    grid-column: 2;
    height: 110px;
    width: 1px;
    background-color: white;
}

footer > div#itens-contato{
    grid-column: 3;
}

footer > div#itens-contato > ul{
    list-style: none;
}

footer > div#itens-contato > ul > li > a{
    text-decoration: none;
    color: var(---texto-invertido);
    margin: 5px;
    line-height: 2.2em;
}